.main {
    text-align: center;
    margin: 45px auto;
}
.main > h1 {
    color: #2E7AD3;
    margin: 45px auto;
}


.container > h2 {
    color: #104C90;
    margin-bottom: 0px;
    padding-top: 10px;
}


.container > .img-container > img {
    width: 400px;
    height: 250px;
}


.img-container {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.container {
    background-color: #F1F1F1;
    width: 450px;
    margin: 0 auto;

}

a{
    color: #ff8000;
    font-weight: bold;
}

a:hover {
    color: #ff2000;
}
a:visited {
    color: #800000;
}