.grid {
    display: grid;
    grid-template: repeat(4, 50px) / repeat(4, 1fr);
    gap: 10px;
    
}

.header {
    grid-column-start: 1;
    grid-column-end: -2;
}

.middle {
    grid-row: 2;
}

.three {
    grid-row: 1 / 4;
    grid-column: 4;
}