:root {
    --red: #ff6f69;
    --green: #88d8b0;
    --yellow: #ffcc5c;
    --beige: #ffeead;
}

html, body {
    --beige: #501a4b;
    background: var(--beige);
    color: var(--red);
}

#navbar a {
    color: var(--red);
}

.item {
    --red: #ff8e69;
    background-color: var(--yellow);
}

button {
    background-color: var(--red);
    color: var(--yellow);
}