:root {
    --red: #ff6f69;
    --green: #88d8b0;
    --yellow: #ffcc5c;
}

html, body {
    --beige: #501a4b;
    background: var(--beige);
    color: var(--red);
}

/*defining locally */
#navbar {
    --nav-red: #ff033e;
}

#navbar a {
    color: var(--nav-red);
}

/*defining locally */
.item {
    --red: #ff8e69;
}

.item {
    background-color: var(--yellow);
}

button {
    background-color: var(--red);
    color: var(--yellow);
}

.featured {
    --red: #ff0022;
    --yellow: #f1ee16;
}

@media all and (max-width: 450px) {
    button {
        --red: #000000;
    }
}