
.container {
    display: flex;
    border: 5px solid #ffcc5c;
    flex-direction: column;
    height: 100%;
    justify-content: end;
}

.signup {
    align-self: flex-start;
}

.register {
    align-self: end;
}

.login {
    align-self: center;
}
